/* Setting background color of page to black */
body {
    background-color: rgb(0, 0, 0); 
}

/* Styling header title */
h2 {
    text-align: center;
    color: rgb(254, 254, 20);
}

/* Styling for loaded art image */
#artImage {
    width: 300px;         
    max-width: 600px;   
    height: auto;       
    margin-top: 0 auto;    
  }
  

/* Search hint bar to help users find artwork */
.search-hint {
    text-align: center;
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
    background-color: #e02d2d;
    padding: 10px;
  }
  
/* Search bar styling */
.search-container { 
    display: flex; 
    justify-content: center;
    margin-bottom: 10px;
}

/* ??????????? */
input[type="text"] { 
    padding: 10px; 
    width: 300px; 
    border: 1px solid #ccc; 
    border-radius: 5px 0 0 5px;
}

/* Styling for search button */
button { 
    padding: 10px; 
    border: none; 
    background-color: #404040;
    color: white; 
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.popup { 
    display: none; 
    position: center; 
    z-index: 100; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto;
}

.popup-content { 
    background-color: rgb(87, 129, 39);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%; 
    text-align: center;
    position: relative; 
}

.popup-content img { 
    max-width: 100%; 
    height: auto;
    border-radius: 10px; 
}

.close { 
    position: absolute; 
    top: 15px; 
    right: 20px; 
    font-size: 24px; 
    cursor: pointer;
}